.blog-items {
  display: grid;
  margin: 0 0 var(--s1);
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-gap: var(--s2);
}
.blog-item {
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media (min-width: 800px) {
  .blog-items.columns-2 {
    grid-template-columns: 1fr 1fr;
  }
  .blog-items.columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blog-items.columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .blog-items.image-left > .blog-item,
  .blog-items.image-right > .blog-item,
  .blog-items.image-alternate > .blog-item {
    flex-direction: row;
  }
  .blog-items.image-left > .blog-item .item-image,
  .blog-items.image-right > .blog-item .item-image,
  .blog-items.image-alternate > .blog-item .item-image {
    flex: 1 0 40%;
  }
  .blog-items.image-left > .blog-item .item-image {
    padding-right: var(--s2);
  }
  .blog-items.image-right > .blog-item .item-image {
    padding-left: var(--s2);
    order: 1;
  }
  .image-alternate .blog-item .item-image {
    padding-right: var(--s2);
  }
  .image-alternate .blog-item:nth-of-type(2n+1) .item-image {
    padding-left: var(--s2);
    order: 1;
  }
}

/* Cards */
.shadow .blog-item {
  position: relative;
  box-shadow: var(--card-shadow);
}
.shadow .blog-item:hover {
  box-shadow: var(--card-shadow-hover);
}
.shadow .blog-item h2 a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.shadow .item-content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 0 var(--s1) var(--s1);
}
.shadow .item-content .readmore {
  margin-top: auto;
}
.item-image {
  margin-bottom: var(--s1);
}
.item-page .left {
  float: left;
  margin-right: var(--s1);
}
.item-page .right {
  float: right;
  margin-left: var(--s1);
}
.page-header a {
  text-decoration: none;
}
.article-info {
  margin-bottom: var(--s1);
  font-size: 1rem;
}
.tags a {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
.tags a:hover {
  color: #000;
  text-decoration: none;
}
.com-users-login__options a {
  display: block;
}
.com-users-login__remember {
  display: flex;
  align-items: center;
}
.com-users-login__remember > .control-label {
  order: 1;
}

/* Modules */
.mod-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mod-breadcrumbs a,
.mod-breadcrumbs li:last-child span {
  padding: calc(var(--s1));
}
.mod-breadcrumbs li:after {
  content: "|";
}
.mod-breadcrumbs li:first-child:after,
.mod-breadcrumbs li:last-child:after {
  content: "";
}
.mod-finder__search input,
.mod-finder__search button {
  padding: var(--s0);
  font-size: .9rem;
}
.mod-list:not(.mod-menu) li {
  margin-bottom: var(--s1);
}
.mod-articles-category-title {
  display: block;
}
.mod-articles-category-group {
  font-weight: 600;
}
.mod-articles-category-readmore {
  margin-top: var(--s0);
}
.mod-login input {
  width: 300px;
}
.mod-login input[type="checkbox"],
.mod-login input[type="radio"] {
  width: auto;
}
.mod-tagspopular ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.mod-tagspopular ul li {
  margin-right: .5rem;
}
.tagspopular .tag-count {
  padding: .125rem .65rem;
  color: #000;
  background-color: var(--info);
}
