header {
  background-color: var(--headerbg);
  color: var(--headercolor);
  padding: var(--s2) var(--s2);
  font-size: 1.3rem;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header span {
  font-weight: 600;
}
header a {
  color: var(--headercolor);
  text-decoration: none;
}
header a:hover,
header .active > a,
header .nav-item.active > a  {
  color: var(--headercolor);
  text-decoration: underline;
  text-decoration-thickness: .125em;
  text-underline-offset: 7px;
}
.navbar-brand span {
  font-size: 3rem;
}
.navbar-brand a {
  text-decoration: none;
}
.header__end {
  display: flex;
  align-items: center;
}
.nav__toggle {
  display: none;
}
.nav__toggle svg {
  fill: var(--headercolor);
}

@media (max-width: 799px) {
  .nav__toggle {
    display: block;
    appearance: none;
    position: absolute;
    right: 4rem;
    top: 1.2rem;
    background: transparent;
    border: 0;
    padding: var(--s0);
    line-height: 1;
    color: var(--headercolor);
  }
}

.navbar-top .mod-menu {
  margin: var(--s1) 0;
}

@media (max-width: 799px) {
  .navbar__with-burger .mod-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: var(--headerbg);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .navbar__with-burger .mod-menu.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    padding: var(--s1);
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-top .mod-menu {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.search {
  display: flex;
  align-items: center;
}
.search__toggle {
  appearance: none;
  order: 1;
  background: transparent;
  color: var(--headercolor);
  border: 0;
  padding: var(--s0);
  line-height: 1;
}
.search__toggle svg {
  fill: var(--headercolor);
}

@media (min-width: 800px) {
  .search__toggle {
    margin-left: var(--s0);
  }
}
@media (max-width: 799px) {
  .search__toggle {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }
}

.container-search {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  display: none;
}
.container-search input {
  width: 100%;
  min-width: 200px;
  appearance: none;
}
.container-search .input-group {
  justify-content: center;
}
.container-search.active {
  display: block;
  box-shadow: var(--card-shadow);
}
.container-search.active form > .awesomplete {
  display: block;
}
.container-search.active form > .awesomplete > input {
  text-align: center;
}