/* Icons */
[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-angle-double-left::before { content: "\f27f"; }
.icon-angle-double-right::before { content: "\f280"; }
.icon-angle-left::before { content: "\f284"; }
.icon-angle-right::before { content: "\f285"; }
.icon-calendar::before { content: "\f1f3"; }
.icon-edit::before { content: "\f4ca"; }
.icon-eye::before { content: "\f341"; }
.icon-eye-slash::before { content: "\f340"; }
.icon-minus::before { content: "\f173"; }
.icon-plus::before { content: "\f176"; }
.icon-user::before { content: "\f3a7"; }