.wrapper {
  max-width: var(--wrapperwidth);
  margin: 0 auto;
}
.container-top-header {
  padding: var(--s0) var(--s2);
}
.container-top-header .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container-banner {
  height: var(--bannerheight);
  color: var(--bannercolor);
}
.banner-overlay {
  height: var(--bannerheight);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center,center;
  background-size: cover;
}
.banner-overlay .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-color: var(--banneroverlay);
}
.container-top-a {
  padding: var(--s4) var(--s2);
  background-color: var(--topabg);
}
.container-top-b {
  padding: var(--s4) var(--s2);
  background-color: var(--topbbg);
}
.container-bottom-a {
  padding: var(--s4) var(--s2);
  background-color: var(--bottomabg);
}
.container-bottom-b {
  padding: var(--s4) var(--s2);
  background-color: var(--bottombbg);
}

@media (min-width: 800px) {
  .with-sidebar-left {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-gap: var(--s2);
  }

  .with-sidebar-right {
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-gap: var(--s2);
  }

  .sidebar--left,
  .sidebar--right {
    align-self: start;
  }
}

main {
  padding: 0 var(--s2) var(--s4) var(--s2);
}
.grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-gap: var(--s2);
}

@media (min-width: 800px) {
  .columns-2 {
    grid-template-columns: 1fr 1fr;
  }
  .columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pagenavigation .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pagination li.next:only-child {
  margin-left: auto;
}
.pagination-toolbar .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-item {
  margin: var(--s0);
}
.page-link {
  padding: var(--s0);
}

.back-to-top-wrapper {
  position: absolute;
  top: calc(100vh + 10em);
  right: 6px;
  bottom: 0;
  z-index: 1030;
  width: 4rem;
  pointer-events: none;
}
.back-to-top-link {
  position: fixed;
  position: sticky;
  top: calc(100vh - 5rem);
  padding: var(--s1);
  text-decoration: none;
  pointer-events: all;
  transition: all .2s ease-in;
}
.arrow-up {
  font-size: 1.8rem;
}

