.wrapper {
  max-width: var(--wrapperwidth);
  margin: 0 auto;
}

/* Header */
header {
  position: relative;
  padding: var(--s2) var(--s2);
  font-size: 1.3rem;
  color: var(--headercolor);
  background-color: var(--headerbg);
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header span {
  font-weight: 600;
}
header a {
  color: var(--headercolor);
  text-decoration: none;
}
header a:hover,
header .active > a,
header .nav-item.active > a {
  color: var(--headercolor);
  text-decoration: underline;
  text-decoration-thickness: .125em;
  text-underline-offset: 7px;
}
.navbar-brand span {
  font-size: 3rem;
}
.navbar-brand a {
  text-decoration: none;
}
.header__end {
  display: flex;
  align-items: center;
}
.nav__toggle {
  display: none;
}
.nav__toggle svg {
  fill: var(--headercolor);
}

@media (max-width: 799px) {
  .nav__toggle {
    display: block;
    appearance: none;
    padding: var(--s0);
    line-height: 1;
    color: var(--headercolor);
    background: transparent;
    border: 0;
  }
}

.navbar-top .mod-menu {
  margin: var(--s1) 0;
}

@media (max-width: 799px) {
  .navbar__with-burger .mod-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    background-color: var(--headerbg);
    opacity: 0;
    transition: transform .3s ease-out, opacity .3s ease-out;
    transform: translateY(-100%);
  }
  .navbar__with-burger .mod-menu.active {
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--s1);
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .navbar-top .mod-menu {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.search {
  display: flex;
  align-items: center;
}
.search__toggle {
  appearance: none;
  order: 1;
  padding: var(--s0);
  line-height: 1;
  color: var(--headercolor);
  background: transparent;
  border: 0;
}
.search__toggle svg {
  fill: var(--headercolor);
}

@media (min-width: 800px) {
  .search__toggle {
    margin-left: var(--s0);
  }
}

/* Containers */
.container-search {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: none;
  background-color: #fff;
}
.container-search input {
  width: 100%;
  min-width: 200px;
  appearance: none;
}
.container-search .input-group {
  justify-content: center;
}
.container-search.active {
  display: block;
  box-shadow: var(--card-shadow);
}
.container-search.active form > .awesomplete {
  display: block;
}
.container-search.active form > .awesomplete > input {
  text-align: center;
}

.container-top-header {
  padding: var(--s0) var(--s2);
}
.container-top-header .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container-banner {
  height: var(--bannerheight);
  color: var(--bannercolor);
}
.banner-overlay {
  height: var(--bannerheight);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center,center;
  background-size: cover;
}
.banner-overlay .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-color: var(--banneroverlay);
}
.container-top-a {
  padding: var(--s4) var(--s2);
  background-color: var(--topabg);
}
.container-top-b {
  padding: var(--s4) var(--s2);
  background-color: var(--topbbg);
}
.container-bottom-a {
  padding: var(--s4) var(--s2);
  background-color: var(--bottomabg);
}
.container-bottom-b {
  padding: var(--s4) var(--s2);
  background-color: var(--bottombbg);
}

@media (min-width: 800px) {
  .with-sidebar-left {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-gap: var(--s2);
  }

  .with-sidebar-right {
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-gap: var(--s2);
  }

  .sidebar--left,
  .sidebar--right {
    align-self: start;
  }
}

main {
  padding: 0 var(--s2) var(--s4) var(--s2);
}
.grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-gap: var(--s2);
}

@media (min-width: 800px) {
  .columns-2 {
    grid-template-columns: 1fr 1fr;
  }
  .columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pagenavigation .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pagination li.next:only-child {
  margin-left: auto;
}
.pagination-toolbar .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-item {
  margin: var(--s0);
}
.page-link {
  padding: var(--s0);
}

.back-to-top-wrapper {
  position: absolute;
  top: calc(100vh + 10em);
  right: 6px;
  bottom: 0;
  z-index: 1030;
  width: 4rem;
  pointer-events: none;
}
.back-to-top-link {
  position: fixed;
  position: sticky;
  top: calc(100vh - 5rem);
  padding: var(--s1);
  text-decoration: none;
  pointer-events: all;
  transition: all .2s ease-in;
}
.arrow-up {
  font-size: 1.8rem;
}

/* Footer */
footer {
  padding: var(--s2) var(--s2);
  font-weight: 600;
  color: var(--footercolor);
  background-color: var(--footerbg);
}
footer a {
  color: var(--footercolor);
}
.container-footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
