.nav-item a,
.nav-item span {
  display: inline-block;
  margin: 0 var(--s0);
}
.nav-item.active > a {
  color: var(--linkcolorh);
}
.navbar-top .mod-menu,
.menu-horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.mod-menu .mod-menu__sub {
  padding-left: var(--s1);
}
.nav-item.divider:not(.parent) {
  height: 1px;
  padding: 0;
  margin: .25em;
  overflow: hidden;
  border-bottom: 1px solid #ced4da;
}
.navbar-top .mod-menu .nav-item.divider:not(.parent),
.menu-horizontal .nav-item.divider:not(.parent) {
  width: 1px;
  border-right: 1px solid #ced4da;
}

@media (max-width: 800px) {
  .navbar__with-burger .nav-item.divider:not(.parent) {
    width: auto;
    height: 1px;
    border-bottom: 1px solid #ced4da;
  }
}
