.header .metismenu > li + li {
  margin-left: 0;
}
.header .metismenu > li.level-1 > ul {
  min-width: 12rem;
}
.metismenu.menu-horizontal {
  flex: 1 0 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.metismenu.menu-horizontal > li {
  position: relative;
}
.metismenu.menu-horizontal .level-1 > ul {
  min-width: 12rem;
}
.metismenu.mod-menu {
  margin: 0;
}
.metismenu.mod-menu .metismenu-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.metismenu.mod-menu .metismenu-item.parent {
  position: relative;
}
.metismenu.mod-menu .metismenu-item > ul {
  position: absolute;
  top: 100%;
  z-index: 1001;
  display: block;
  padding: var(--s1);
  list-style: none;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .1);
}
.metismenu.mod-menu .metismenu-item > span,
.metismenu.mod-menu .metismenu-item > a,
.metismenu.mod-menu .metismenu-item > button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 10px
}
.metismenu.mod-menu .metismenu-item::after {
  content: none;
}
.metismenu.mod-menu .metismenu-item:not(.level-1) > ul,
.metismenu.mod-menu .metismenu-item:not(.level-2) > ul {
  margin-right: -1em;
}
.metismenu.mod-menu .metismenu-item.divider:not(.parent) {
  width: 1px;
  padding: 0;
  margin: .25em;
  overflow: hidden;
  border-right: 1px solid #ced4da;
}
@media (max-width: 800px) {
  .metismenu.mod-menu .metismenu-item.divider:not(.parent) {
    width: auto;
    height: 1px;
    border-bottom: 1px solid #ced4da;
  }
}
.metismenu.mod-menu .mm-collapsing {
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: color, background-color, height, visibility;
}
.metismenu.mod-menu .mm-collapse {
  position: absolute;
  background-color: var(--headerbg);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
}
.metismenu.mod-menu .mm-collapse:not(.mm-show) {
  display: none;
}
.metismenu.mod-menu .mm-collapse > li > a {
  display: inline-flex;
}
.metismenu.mod-menu .mm-collapse > li.divider:not(.parent) {
  width: auto;
  height: 1px;
  border-bottom: 1px solid #ced4da;
}
.metismenu.mod-menu .mm-collapse > li.parent .mm-toggler {
  display: inline-flex;
}
.metismenu.mod-menu .mm-collapse > li.parent > ul {
  position: relative;
  top: 0;
  flex-basis: calc(100% + 1em);
  margin-top: .5em;
  margin-bottom: -.5em;
  background-color: rgba(0, 0, 0, .03);
  box-shadow: none;
}
.metismenu.mod-menu .mm-toggler {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin-top: .45rem;
  margin-left: .35rem;
  color: currentColor;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  border: none;
  box-shadow: none;
}
.metismenu.mod-menu .mm-toggler:after {
  width: 0;
  height: 0;
  content: "";
  border-top: .5em solid currentColor;
  border-right: .5em solid transparent;
  border-left: .5em solid transparent;
  transition: all .3s ease-out;
}
.mm-active > .metismenu.mod-menu .mm-toggler:after {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.metismenu.mod-menu .mm-toggler[aria-expanded=true]:after {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
.metismenu.mod-menu .mm-toggler:focus-visible {
  outline: 1px dotted var(--headercolor);
}

.sidebar-right .metismenu .mm-collapse,
.sidebar-left .metismenu .mm-collapse {
  position: relative;
  background-color: rgba(0, 0, 0, 0.03);
}
.sidebar-right .metismenu li.parent > ul,
.sidebar-left .metismenu li.parent > ul {
  position: relative;
  top: 0;
  box-shadow: none;
}
@media (max-width: 991px) {
  .sidebar-right .metismenu li.parent > ul,
  .sidebar-left .metismenu li.parent > ul {
    width: 100%;
  }
}
.sidebar-right .metismenu .metismenu-item > span,
.sidebar-right .metismenu .metismenu-item > a,
.sidebar-left .metismenu .metismenu-item > span,
.sidebar-left .metismenu .metismenu-item > a {
  white-space: inherit;
}
.sidebar-right .metismenu .metismenu-item.divider:not(.parent),
.sidebar-left .metismenu .metismenu-item.divider:not(.parent) {
  width: auto;
  height: 1px;
  border-bottom: 1px solid #ced4da;
}
