@media print {
  .logo, nav, aside, header, footer, .container-banner, .pager {
    display: none;
  }
  /* Font auf 16px/13pt setzen, Background auf Weiß und Schrift auf Schwarz setzen.*/
  /* Das spart Tinte */
  body {
    margin: .8cm .3cm;
    overflow: auto;
    font-size: 11pt;
    line-height: 1.4;
    color: #000;
    background: #fff !important;
  }
  h1 {
    font-size: 24pt;
    color: #000;
  }
  h2, h3, h4 {
    margin-top: 25px;
    font-size: 14pt;
    color: #000;
  }
  /* Alle Seitenumbrüche definieren */
  a {
    page-break-inside: avoid;
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table, pre {
    page-break-inside: avoid;
  }
  ul, ol, dl {
    page-break-before: avoid;
  }
  /* Linkfarbe und Linkverhalten darstellen */
  a:link, a:visited, a {
    color: #0069a0;
    text-align: left;
    text-decoration: underline;
    background: transparent;
  }
  a[href^=http]:after {
    content: "";
  }
  article a[href^="#"]:after {
    content: "";
  }
  a:not(:local-link):after {
    content: " <" attr(href) "> ";
  }
  .wrapper,
  .main-content,
  .main-content > *,
  .main-content > * > * {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    overflow: auto;
  }
  article {
    padding: 10pt;
  }
  main {
    background-color: #fff;
  }
  /**
    * Eingebundene Videos verschwinden lassen und den Whitespace der iframes auf null reduzieren.
    */
  iframe {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
  }
}
