/* Preset colors */
/*
:root {
	--headerbg: rgba(65, 89, 154, 1);
	--headercolor: rgba(255, 255, 255, 1);
	--bodybg: rgba(255, 255, 255, 1);
	--bodycolor: rgba(0, 0, 0, 1);
	--linkcolor: rgba(65, 89, 154, 1);
	--linkcolorh: rgba(24, 33, 58, 1);
	--btnbg: rgba(253, 161, 33, 1);
	--btnbgh: rgba(182, 107, 2, 1);
	--btncolor: rgba(0, 0, 0, 1);
	--btncolorh: rgba(255, 255, 255, 1);
	--footerbg: rgba(46, 34, 12, 1);
	--footercolor: rgba(255, 255, 255, 1);
}
*/

:root {
  --danger: hsl(350, 70%, 53%);
  --dangerh: hsl(350, 70%, 40%);
  --dangerl: hsl(350, 70%, 80%);
  --info: hsl(197, 70%, 53%);
  --infoh: hsl(197, 70%, 40%);
  --infol: hsl(197, 70%, 80%);
  --success: hsl(148, 70%, 64%);
  --successh: hsl(148, 70%, 44%);
  --successl: hsl(148, 70%, 84%);
  --warning: hsl(31, 70%, 53%);
  --warningh: hsl(31, 70%, 44%);
  --warningl: hsl(31, 70%, 84%);
  --grey1: hsl(0, 0%, 44%);
  --grey2: hsl(0, 0%, 34%);
  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --s0: .5rem;
  --s1: 1rem;
  --s2: 2rem;
  --s3: 3rem;
  --s4: 4rem;
  --card-shadow: 1px 1px 6px 0 rgba(12, 12, 13, .2);
  --card-shadow-hover: 1px 1px 6px 0 rgba(12, 12, 13, .5);
}

body {
  position: relative;
  min-height: 100vh;
  font-family: var(--font-family-body, var(--font-sans-serif));
  font-size: 1.2rem;
  color: var(--bodycolor);
  background-color: var(--bodybg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--s1);
  font-family: var(--font-family-headings, var(--font-sans-serif));
}
h1,
h2,
h3 {
  font-size: clamp(var(--fluid-type-min, 1rem), calc(1rem + var(--fluid-type-target, 3vw)), var(--fluid-type-max, 1.3rem));
}
h1 {
  --fluid-type-min: 2.5rem;
  --fluid-type-max: var(--h1size);
  --fluid-type-target: 5vw;
}
h2 {
  --fluid-type-min: 1.8rem;
  --fluid-type-max: var(--h2size);
}
h3 {
  --fluid-type-min: 1.5rem;
  --fluid-type-max: var(--h3size);
}
ul[class],
ol[class] {
  padding-left: 0;
}
ul ul {
  padding-left: var(--s0);
}
input,
select,
textarea,
button {
  padding: var(--s1);
  border-radius: 0;
}
input,
select,
textarea {
  border: 1px solid #ced4da;
}
select.time {
  padding: 0;
}
.invalid {
  color: var(--danger);
  border-color: var(--danger);
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
button {
  cursor: pointer;
  background-color: #eaedf0;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  margin: var(--s0) 0;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
}
.input-group button {
  margin: 0;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: .6rem 1rem;
  text-align: center;
  white-space: nowrap;
  background-color: #eaedf0;
  border: 1px solid #ced4da;
}
input[type="checkbox"] {
  margin-inline-start: 0;
  margin-inline-end: .5rem;
  margin-block: 0;
}
.form-check,
.form-check-label {
  display: flex;
  align-items: center;
}
.custom-select,
.form-select {
  display: block;
  width: 100%;
  max-width: 100%;
  padding-right: 3rem;
  cursor: pointer;
  background: url("../images/select-bg.svg") no-repeat 100%/120rem;
  background-color: #eaedf0;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control {
  display: block;
  width: 100%;
  padding: var(--s0) var(--s1);
}
.control-group {
  margin: var(--s1) 0;
}
a {
  color: var(--linkcolor);
  text-decoration-thickness: .125em;
  text-underline-offset: 6px;
}
a:hover {
  color: var(--linkcolorh);
}
:focus,
:focus-visible {
  outline: 1px dotted currentColor;
  outline-offset: .2rem;
}
main:focus {
  outline: none;
}
blockquote {
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  border-left: 3px solid var(--grey1);
}
.text-muted {
  color: var(--grey1);
}
figure img {
  width: 100%;
}
.list-inline {
  display: flex;
  flex-wrap: wrap;
}
.list-inline li {
  margin-right: .5rem;
}
.sr-only,
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
.hidden {
  display: none;
  visibility: hidden;
}
.skip-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: inline-block;
  padding: .7rem 1rem .5rem;
  font-weight: 700;
  color: var(--btncolor);
  text-decoration: none;
  text-transform: uppercase;
  background: var(--btnbg);
}
.skip-link:hover {
  color: var(--btncolorh);
  background: var(--btnbgh);
}
.skip-link:not(:focus) {
  position: absolute;
  width: 1px;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.position-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.modal iframe {
  width: 100%;
}
iframe {
  border: 0;
}
[role="tooltip"]:not(.show) {
  right: 5em;
  z-index: 1070;
  display: none;
  width: max-content;
  padding: .5em;
  margin: .5em;
}
:focus + [role="tooltip"],
:hover + [role="tooltip"] {
  position: absolute;
  top: 50px;
  left: 0;
  display: block;
  color: #000;
  background-color: #fff;
}
.btn.jmodedit {
  z-index: 900;
  padding: var(--s0);
}
.small {
  font-size: .9rem;
}
.jmenuedit {
  margin: 0 !important;
}
.jmenuedit > span {
  margin-right: 0;
}
#jform_params_base_select {
  display: flex;
  align-items: center;
}
#jform_params_base_select > .icon-file {
  margin-right: var(--s0);
}
.accordion-header {
  font-size: 1.3rem;
}
.accordion-header button {
  padding: 0;
  background: none;
  border: none;
}
.text-primary {
  color: var(--headerbg);
}
.text-secondary {
  color: var(--grey1);
}
.text-info {
  color: var(--info);
}
.text-success {
  color: var(--success);
}
.text-danger {
  color: var(--danger);
}
.text-warning {
  color: var(--warning);
}
.display-1 {
  font-size: clamp(2.7rem,8vw,5.5rem);
}
.display-2 {
  font-size: clamp(2.3rem,7vw,4.5rem);
}
.display-3 {
  font-size: clamp(1.9rem,6vw,3.5rem);
}
.display-4 {
  font-size: clamp(1.5rem,5vw,2.5rem);
}
.lead {
  font-size: clamp(1.1rem,3vw,1.5rem);
}
table {
  width: 100%;
  border: 0;
  border-color: var(--grey1);
}
tbody, td, tfoot, th, thead, tr {
  text-align: left;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
table > :not(:last-child) > :last-child > * {
  border-bottom-color: currentColor;
}
table > :not(caption) > * > * {
  padding: .5rem;
  border-bottom-width: 1px;
}
thead {
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.tbody-icon .fa-check,
.tbody-icon .icon-check,
.tbody-icon .icon-publish {
  color: #448344;
}
.tbody-icon .fa-delete,
.tbody-icon .fa-times,
.tbody-icon .icon-delete,
.tbody-icon .icon-times {
  color: #a51f18;
}
/* Position
[class^="mod-"],
.moduletable,
nav {
  position: relative;
} */
.float-end {
  text-align: end;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: var(--s0) var(--s1);
  cursor: pointer;
}
a.btn {
  text-decoration: none;
}
.btn-primary,
.readmore .btn {
  margin: var(--s0) 0;
  color: var(--btncolor);
  background-color: var(--btnbg);
  border: 1px solid var(--btnbg);
}
.btn-primary:hover,
.readmore .btn:hover {
  color: var(--btncolorh);
  background-color: var(--btnbgh);
  border-color: var(--btnbgh);
}
.btn-secondary {
  border: 1px solid #ced4da;
}
.btn-secondary:hover {
  background-color: var(--grey1);
}
.readmore .btn {
  padding: var(--s1);
  margin: var(--s2) 0;
  text-decoration: none;
}
.btn-sm {
  padding: .5rem;
  font-size: .9rem;
}
.btn-info {
  background-color: var(--info);
  border: 1px solid var(--info);
}
.btn-info:hover {
  color: #fff;
  background-color: var(--infoh);
  border-color: var(--info);
}
.btn-success {
  background-color: var(--success);
  border: 1px solid var(--success);
}
.btn-success:hover {
  color: #fff;
  background-color: var(--successh);
  border-color: var(--successh);
}
.btn-danger {
  background-color: var(--danger);
  border: 1px solid var(--danger);
}
.btn-danger:hover {
  color: #fff;
  background-color: var(--dangerh);
  border-color: var(--dangerh);
}
.btn-warning {
  background-color: var(--warning);
  border: 1px solid var(--warning);
}
.btn-warning:hover {
  color: #fff;
  background-color: var(--warningh);
  border-color: var(--warningh);
}
.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
meter {
  width: 100%;
}
.collapse:not(.show) {
  display: none;
}
/* Alerts */
.alert {
  position: relative;
  padding: var(--s1);
  margin-bottom: var(--s1);
  border: 1px solid transparent;
}
.alert-heading {
  color: inherit;
}
.alert-link {
  font-weight: 700;
}
.alert-dismissible {
  padding-right: var(--s3);
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem var(--s1);
}
.alert-primary {
  color: var(--bodycolor);
  background-color: #f4f4f4;
  border-color: var(--grey1);
}
.alert-primary .alert-link {
  color: var(--linkcolor);
}
.alert-secondary {
  color: var(--grey2);
  background-color: #f4f4f4;
  border-color: var(--grey1);
}
.alert-secondary .alert-link {
  color: var(--grey2);
}
.alert-success {
  color: var(--bodycolor);
  background-color: var(--successl);
  border-color: var(--successl);
}
.alert-success .alert-link {
  color: var(--success);
}
.alert-info {
  color: var(--bodycolor);
  background-color: var(--infol);
  border-color: var(--infol);
}
.alert-info .alert-link {
  color: var(--info);
}
.alert-warning {
  color: var(--bodycolor);
  background-color: var(--warningl);
  border-color: var(--warningl);
}
.alert-warning .alert-link {
  color: var(--warning);
}
.alert-danger {
  color: var(--bodycolor);
  background-color: var(--dangerl);
  border-color: var(--dangerl);
}
.alert-danger .alert-link {
  color: var(--danger);
}

/* Error */
body.error-site {
  display: flex;
  flex-direction: column;
}
body.error-site footer {
  margin-top: auto;
}
