#timeline .timeline-item:after,
#timeline .timeline-item:before {
  display: block;
  width: 100%;
  clear: both;
  content: "";
}
#timeline {
  position: relative;
  width: 100%;
  padding: 0 var(--s1);
  margin: 30px auto;
  transition: all .4s ease;
}
#timeline:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  content: "";
  background: var(--btnbg);
}
#timeline:after {
  display: table;
  width: 100%;
  clear: both;
  content: "";
}
#timeline .timeline-item {
  position: relative;
  margin-bottom: 50px;
}
#timeline .timeline-item .timeline-icon {
  position: absolute;
  top: 13px;
  left: 51%;
  width: 28px;
  height: 28px;
  margin-left: -23px;
  overflow: hidden;
  background: var(--btnbg);
  border-radius: 50%;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  padding: var(--s1);
  background: #fbfbfb;
  box-shadow: var(--card-shadow);
  transition: all .3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: var(--s1);
  margin: calc(var(--s1)*-1) calc(var(--s1)*-1) var(--s1) calc(var(--s1)*-1);
  font-size: 1.5rem;
  color: #fff;
  background: var(--btnbg);
}
#timeline .timeline-item .timeline-content p {
  margin-top: var(--s1);
}
#timeline .timeline-item .timeline-content:before {
  position: absolute;
  top: 20px;
  left: 45%;
  width: 0;
  height: 0;
  content: "";
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid var(--btnbg);
}
#timeline .timeline-item:nth-child(even) .timeline-content {
  float: right;
}
#timeline .timeline-item:nth-child(even) .timeline-content:before {
  right: 45%;
  left: inherit;
  content: "";
  border-right: 7px solid var(--btnbg);
  border-left: 0;
}

@media screen and (max-width: 768px) {
  #timeline {
    width: 90%;
    padding: 0;
    margin: 30px;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    float: right;
    width: 90%;
  }
  #timeline .timeline-item .timeline-content:before,
  #timeline .timeline-item:nth-child(even) .timeline-content:before {
    left: 10%;
    margin-left: -6px;
    border-right: 7px solid var(--btnbg);
    border-left: 0;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}
