/* Preset colors */
/*
:root {
	--headerbg: rgba(65, 89, 154, 1);
	--headercolor: rgba(255, 255, 255, 1);
	--bodybg: rgba(255, 255, 255, 1);
	--bodycolor: rgba(0, 0, 0, 1);
	--linkcolor: rgba(65, 89, 154, 1);
	--linkcolorh: rgba(24, 33, 58, 1);
	--btnbg: rgba(253, 161, 33, 1);
	--btnbgh: rgba(182, 107, 2, 1);
	--btncolor: rgba(0, 0, 0, 1);
	--btncolorh: rgba(255, 255, 255, 1);
	--footerbg: rgba(46, 34, 12, 1);
	--footercolor: rgba(255, 255, 255, 1);
}
*/

:root {
  --success: hsl(148, 70%, 64%);
  --info: hsl(197, 70%, 53%);
  --warning: hsl(31, 70%, 53%);
  --danger: hsl(350, 70%, 53%);
  --successh: hsl(148, 70%, 44%);
  --infoh: hsl(197, 70%, 40%);
  --warningh: hsl(31, 70%, 44%);
  --dangerh: hsl(350, 70%, 40%);
  --grey1: hsl(0, 0%, 44%);
  --grey2: hsl(0, 0%, 34%);
  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --s0: .5rem;
  --s1: 1rem;
  --s2: 2rem;
  --s3: 3rem;
  --s4: 4rem;
  --card-shadow: 1px 1px 6px 0 rgba(12, 12, 13, .2);
  --card-shadow-hover: 1px 1px 6px 0 rgba(12, 12, 13, .5);
}

