@import "../../../../../vendor/roboto-fontface/scss/roboto/roboto-fontface.css";
:root {
  --font-family-body: "Roboto", sans-serif;
  --font-family-headings: "Roboto", sans-serif;
  --font-weight-headings: 700;
  --font-weight-normal: 400;
}
